.footer {
  padding: 73px 0 36px 0;
  background: #c0707c;
}

.footer__container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.footer-rights {
  justify-self: left;
}

.rights {
  margin-top: 19px;
  font-size: 12px;
  font-family: Gilroy-regular, sans-serif;
  color: rgb(227, 172, 180);
}

.instagram {
  justify-self: center;
  display: grid;
  text-decoration: none;
}

.instagram__image {
  justify-self: center;
  margin-bottom: 15px;
}

.instagram__text {
  font-size: 16px;
  font-family: Gilroy-Bold, sans-serif;
  color: rgb(255, 255, 255);
}

.footer-contacts {
  justify-self: right;
}

@media screen and (max-width: 767px) {
  .footer__container {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-row-gap: 15px;
  }

  .footer-rights {
    justify-self: center;
    order: 3;
  }

  .instagram {
    order: 2;
  }

  .footer-logo {
    justify-self: center;
    margin-left: 23px;
  }

  .footer-contacts {
    justify-self: center;
    order: 1;
  }
}
